body {
  overflow: hidden;
}

#canvas {
    position: relative;
}

#canvas img {
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#yip_box {
    position: fixed;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.yip {
    position: fixed;
    font-family: "Georgia";
    color: white;
}

body {
    background-color: green;
}

/*#canvas {
    position: relative;
    height: 100%;
    width: 100%;
}*/